[credential]
	helper = osxkeychain
[user]
	email = me@martinholman.co.nz
	name = Martin Holman
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[diff]
    tool = vscode
[difftool]
    prompt = false
[mergetool "vscode"]
    cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED
[mergetool]
    prompt = false
[merge]
    tool = vscode
[core]
	excludesfile = ~/.gitignore
	editor = code --wait
	pager = diff-so-fancy | less --tabs=4 -RFX
[push]
	default = simple
	autoSetupRemote = true
[hub]
	protocol = https
[alias]
	co = checkout
	cob = "!f() { git checkout -b martin308/$1; }; f"
	wta = "!f() { git worktree add martin308/$1; }; f"
	undo = reset HEAD~1 --mixed
	prune-remote = fetch --prune
	bclean = "!f() { git branch --merged ${1-master} | grep -v " ${1-master}$" | xargs git branch -d; }; f"
	recent = "!f() { git branch --format='%(HEAD) %(refname:short) - %(contents:subject) (%(committerdate:relative)) [%(authorname)]' --sort=-committerdate | fzf | awk '{print $1;}' | xargs git checkout; }; f"
	remove-worktree = "!f() { git worktree list | tail -n +2 | fzf | awk '{print $1;}' | xargs git worktree remove; }; f"
	g = grep --break --heading --line-number
	s = switch
	mini-log = "log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
	wt-prune = "!f() { \
			git fetch --prune && \
			gone=$(git branch -vv | sed -n 's/^[* ]*\\([^ ]*\\) .* \\[.*: gone\\].*/\\1/p') && \
			if [ -z \"$gone\" ]; then echo 'No stale worktrees found.'; return 0; fi && \
			git worktree list --porcelain | \
			awk '/^worktree /{wt=$2} /^branch refs\\/heads\\//{print wt \"\\t\" substr($2,12)}' | \
			while IFS=$(printf '\\t') read -r wt br; do \
					if echo \"$gone\" | grep -qxF \"$br\"; then \
							echo \"Removing: $wt ($br)\" && \
							git worktree remove \"$wt\"; \
					fi; \
			done; \
	}; f"
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[pull]
	rebase = true
[rerere]
	enabled = true
[grep]
	lineNumber = true
[github]
	user = martin308
[ghi]
	token = !security find-internet-password -a martin308 -s github.com -l 'ghi token' -w
[init]
	defaultBranch = main
[interactive]
	diffFilter = diff-so-fancy --patch
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[includeIf "gitdir:~/src/honeycomb/"]
	path = ~/src/honeycomb/.gitconfig
